{:min-bb-version "0.9.161"
 :paths ["src" "test" "dev"]
 :deps {org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                                 :git/sha "8df0712896f596680da7a32ae44bb000b7e45e68"}
        local/deps {:local/root "."}}
 :bbin/bin {bbin {:main-opts ["-f" "bbin"]}}
 :tasks {bbin {:requires ([babashka.bbin :as bbin])
               :task (bbin/-main)}
         ci {:doc "Run all CI tasks locally"
             :requires ([taoensso.timbre :as log])
             :task (do
                     (log/info "bb run lint")
                     (run 'lint)
                     (log/info "bb run test")
                     (run 'test))}
         lint (shell "clj-kondo --lint .")
         test {:depends [gen-script]
               :requires ([babashka.bbin.test-runner])
               :task (exec 'babashka.bbin.test-runner/run-tests)}
         gen-script {:doc "Build the bbin script"
                     :requires ([babashka.bbin.gen-script :as gen-script])
                     :task (gen-script/gen-script)}
         update-readme {:requires ([clojure.string :as str]
                                   [clojure.edn :as edn]
                                   [selmer.parser :as p]
                                   [selmer.util :refer [without-escaping]])
                        :task (without-escaping
                                (->> (p/render (slurp "README.template.md")
                                               {:version (some-> (slurp "deps.edn") edn/read-string
                                                                 :aliases :neil :project :version)})
                                     (spit "README.md")))}}}
