{:paths ["src" "test" "dev"]
 :deps {org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                                 :git/sha "1a841c4cc1d4f6dab7505a98ed2d532dd9d56b78"}
        org.babashka/cli {:mvn/version "0.3.35"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        babashka/process {:mvn/version "0.1.7"}
        fipp/fipp {:mvn/version "0.6.26"}
        mvxcvi/puget {:mvn/version "1.3.2"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        selmer/selmer {:mvn/version "1.12.53"}}
 :tasks {bbin {:requires ([rads.bbin :as bbin])
               :task (bbin/-main)}
         ci {:doc "Run all CI tasks locally"
             :requires ([taoensso.timbre :as log])
             :task (do
                     (log/info "bb run lint")
                     (run 'lint)
                     (log/info "bb run test")
                     (run 'test))}
         lint (shell "clj-kondo --lint .")
         test {:depends [gen-script]
               :requires ([rads.bbin.test-runner])
               :task (exec 'rads.bbin.test-runner/run-tests)}
         gen-script {:doc "Build the bbin script"
                     :requires ([rads.bbin.gen-script :as gen-script])
                     :task (gen-script/gen-script)}}
 :bbin/bin {bbin {:main-opts ["-m" "rads.bbin/-main"]}}}
