{:paths ["src"]
 :deps {babashka/fs {:mvn/version "0.3.17"}
        babashka/process {:mvn/version "0.4.14"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        expound/expound {:mvn/version "0.9.0"}
        fipp/fipp {:mvn/version "0.6.26"}
        org.babashka/cli {:mvn/version "0.6.43"}
        org.babashka/http-client {:mvn/version "0.1.8"}
        org.babashka/json {:mvn/version "0.1.1"}
        org.clojure/tools.gitlibs {:mvn/version "2.4.181"}
        selmer/selmer {:mvn/version "1.12.55"}
        version-clj/version-clj {:mvn/version "2.0.2"}}
 :aliases {:neil {:project {:name babashka/bbin
                            :version "0.2.2"}}}}
