{:paths ["src"]
 :deps {org.babashka/cli {:mvn/version "0.3.35"}
        babashka/process {:mvn/version "0.1.7"}
        fipp/fipp {:mvn/version "0.6.26"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        selmer/selmer {:mvn/version "1.12.53"}
        io.github.rads/deps-info {:git/tag "v0.0.1" :git/sha "1e4eb28"}}
 :aliases {:neil {:project {:name babashka/bbin
                            :version "0.1.0-SNAPSHOT"}}}}
