name: CI
on: [push, pull_request]
jobs:
  bb-run-test-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        bb-version: [1.3.190, latest]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@9.4
        with:
          bb: ${{ matrix.bb-version }}
      - run: bb run test

  bb-run-test-macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        bb-version: [1.3.190, latest]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@9.4
        with:
          bb: ${{ matrix.bb-version }}
      - run: bb run test

  bb-run-test-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        bb-version: [latest]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@9.4
        with:
          bb: ${{ matrix.bb-version }}
      - name: bb test
        shell: bash
        run: |
          curl -sLO https://github.com/babashka/babashka-dev-builds/releases/download/v1.3.191-SNAPSHOT/babashka-1.3.191-SNAPSHOT-windows-amd64.zip
          unzip babashka-1.3.191-SNAPSHOT-windows-amd64.zip
          # overwrite installed bb with custom
          cp bb.exe "$(which bb)"
      - name: bb test
        run: |
          bb run test
      - name: Upload debug log
        uses: actions/upload-artifact@v4
        with:
          name: debug-log
          path: debug.log


  bb-run-lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        bb-version: [1.3.190, latest]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@9.4
        with:
          bb: ${{ matrix.bb-version }}
          clj-kondo: latest
      - run: bb run lint
